@font-face {
    font-family: gotham_bold;
    src: url(./fonts/gotham_bold.otf);
}
@font-face {
    font-family: gotham_book;
    src: url(./fonts/gotham_book.otf);
}
@font-face {
    font-family: gotham_light;
    src: url(./fonts/gotham_light.otf);
}
@font-face {
    font-family: gotham_medium;
    src: url(./fonts/gotham_medium.otf);
}
.gotham-bold{
    font-family: gotham_bold;
}
.gotham-book{
    font-family: gotham_book;
}
.gotham-light{
    font-family: gotham_light;
}
.gotham-medium{
    font-family: gotham_medium;
}
.sun-editor input:focus, .sun-editor select:focus, .sun-editor textarea:focus {
    border-color: rgb(51, 13, 78) !important;
    outline: 0;
    box-shadow: 0 0 0 .25rem #925ff042!important;
    border: 1px solid #925FF0;
    -webkit-box-shadow: 0 0 0 .2rem #edc7ff;
    transition: border-color .15s ease-in-out, box-shadow .15s ease-in-out;
}
.se-dialog-form-footer{
    display: none;
}
.modal-content {
    box-shadow: 0px 3px 20px #57116454!important;
}
.sun-editor .se-btn-primary {
    color: #925FF0!important;
    background-color: white!important;
    border: 2px solid #925FF0!important;
    border-radius: 10px!important;
    padding: 5px 10px!important;
}
.sun-editor .se-dialog .se-dialog-inner .se-dialog-header {
    height: 50px;
    padding: 6px 15px;
    border-bottom: 1px solid #e5e5e5;
    border-radius: 15px!important;
}
.sun-editor .se-btn-primary:hover {
    color: white!important;
    background-color: #925FF0!important;
    transition: all 0.1s ease-in-out
}
.se-btn-primary{
    border: 2px solid #925FF0;
    color: #925FF0;
    padding: 5px 10px;
    border-radius: 10px;
    background-color: white;
}
.add-task{
    color: #1C0C38;
    text-decoration: none;
    transition: all 0.1s ease-in-out;
}
.add-task:hover{
    color: #925FF0;
    transition: all 0.1s ease-in-out;
}
textarea{ 
    resize: none!important; 
    overflow-y: scroll!important; 
} 
.form-select:focus {
    border-color: rgb(51, 13, 78) !important;
    outline: 0;
    box-shadow: 0 0 0 .25rem #925ff042!important;
}
.ta-card{
    width: 100%;
}
.in-card{
    width: 100%;
    color: #1C0C38;
    font-family: gotham-medium;
    font-size: 15px;
    padding: 10px;
    border-radius: 8px;
    border: 1px solid rgb(51, 13, 78);
    outline: 0;
    box-shadow: none;
    transition: all 0.1s ease-in-out;
}
.in-card:focus{
    box-shadow: 0 0 0 .25rem #925ff042;
    transition: all 0.1s ease-in-out;
}
.void-purple-button{
    border: 2px solid #925FF0;
    color: #925FF0;
    padding: 5px 10px;
    border-radius: 10px;
    background-color: white;
}
.btn-purple{
    background-color: white;
    color: #925FF0;
    outline: 0;
    border: 2px solid #925FF0;
    border-radius: 10px;
    padding: 5px 10px;
}
.btn-purple:hover{
    background-color: #925FF0;
    color: white;
    outline: 0;
    border: 2px solid #925FF0;
    border-radius: 10px;
    padding: 5px 10px;
}
p{
    margin: 0!important;
}
.search-input{
    background-image: url("./search-normal.svg");
    background-repeat: no-repeat;
    background-size: 8%;
    background-position-x: 5%;
    background-position-y: center;
    padding-left: 40px!important;
    box-sizing: border-box;
    border: none!important;
    font-family: gotham_book;
}
.search-input::placeholder{
    color: #6D6D6D;
}
.search-input:focus{
    box-shadow: none!important;
}
.row{
    margin: 0!important;
}
.col-4{
    margin: 0!important;
}
