<!DOCTYPE html>
{% load static %}
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Авторизация</title>
    <link rel="stylesheet" href="{% static 'styles.css' %}">
</head>
<body>
    <div class="login-form">
        <h2>Авторизация</h2>
        <form method="post">
            {% csrf_token %}
            {{ form.as_p }}
            <button type="submit" class="btn">Войти</button>
        </form>
        <!-- Кнопка для перехода на страницу регистрации -->
        <form action="{% url 'register' %}" method="get">
            <button type="submit" class="btn">Нет аккаунта? Зарегистрироваться</button>
        </form>
    </div>
</body>
</html>
