<!DOCTYPE html>
{% load static %}
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Вход</title>
    <link rel="stylesheet" href="{% static 'styles.css' %}">
</head>
<body>
    <div class="login-form">
        <h2>Вход</h2>
        <form method="post">
            {% csrf_token %}
            {{ form.as_p }}
            <button type="submit" class="btn">Войти</button>
        </form>
        <div class="register-link">

            <!-- Кнопка для перехода на страницу регистрации -->
            <a href="{% url 'register' %}" class="btn">Вернуться к регистрации</a>
        </div>
    </div>
</body>
</html>
