<!DOCTYPE html>
{% load static %}
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Регистрация</title>
    <link rel="stylesheet" href="{% static 'styles.css' %}">
</head>
<body>
    <div class="registration-form">
        <h2>Регистрация</h2>
        <form method="post">
            {% csrf_token %}
            {{ form.as_p }}
            <button type="submit" class="btn">Зарегистрироваться</button>
        </form>
        <!-- Кнопка для перехода на страницу авторизации -->
        <form action="{% url 'login' %}" method="get">
            <button type="submit" class="btn">Уже есть аккаунт? Войти</button>
        </form>
    </div>
</body>
</html>
