<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <title>{% if form.instance.pk %}Редактировать карточку{% else %}Создать карточку{% endif %}</title>
</head>
<body>
    <h2>{% if form.instance.pk %}Редактировать карточку{% else %}Создать карточку{% endif %}</h2>
    <form  method="post">
        {% csrf_token %}
        {{ form.as_p }}
        <button type="submit">{% if form.instance.pk %}Сохранить изменения{% else %}Создать{% endif %}</button>
        <a href="{% url 'kanban_board' %}">Отмена</a>
    </form>
</body>
</html>
