
<div  class="w-100 d-flex flex-column p-4 my-4" style="border-radius: 15px; background-color: white; box-shadow: 0px 3px 12px #472a7b1c;"> <!--card template-->
    <p class="gotham-light" style="font-size: 10pt; color: #1C0C38">Название:</p>
    <p class="gotham-bold mb-3" style="font-size: 16pt; position: relative; top: -5px; color: #15003C;">Внедрение Я.Метрики</p>
    <p class="gotham-light" style="font-size: 10pt; color: #1C0C38">Ответственный:</p>
    <p class="gotham-book mb-3" style="font-size: 16pt; position: relative; top: -5px; color: #15003C">Иван Золо</p>

    <div class="d-flex flex-wrap justify-content-between">
        <button class="void-purple-button ps-1 d-flex align-items-center mb-2"><img class="me-1" src="{% static 'main/setting-b.svg' %}" alt="" height="23">Действия</button>
        <button class="void-purple-button ps-1 d-flex align-items-center mb-2"><img class="me-1" src="{% static 'main/user-cirlce-add.svg' %}" alt="" height="23">Исполнитель</button>
    </div>

</div>