<!doctype html>
{% load static %}
<html lang="ru">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="{% static "main/app.css" %}">
    <title>Bootstrap demo</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
</head>
  <body>
    <div class="container mt-4">
        <header class="d-flex  align-items-center flex-wrap justify-content-center py-3 px-5 mb-4 border-bottom" style="background-color: black; border-radius: 50px;">
          <div class="d-flex align-items-center mb-3 mb-md-0 me-md-auto link-body-emphasis text-decoration-none">
            <img class="me-2" src="{% static 'main/scroll.svg' %}" alt="">
            <span class="fs-4" style="color: white" class="gotham-book">Разработка</span>
          </div>
    
          <ul class="nav nav-pills  align-items-center">
            <li class="nav-item"><img src="{% static 'main/sort.svg' %}" alt=""></li>
            <li class="nav-item"><img src="{% static 'main/sort.svg' %}" alt=""></li>
            <li class="nav-item mx-3"><input type="text" class="form-control search-input" id="exampleInputEmail1" placeholder="Поиск..."></li>
            <li class="nav-item"><button type="button" class="btn d-flex align-items-center justify-content-center" style="background-color: #925FF0; height: 38px; width: 38px; "><img src="{% static 'main/user-square.svg' %}" alt="" height="28"></button></li>
          </ul>
        </header>
        <div class="row mb-4" id="block_column" style="height: 100vh; width: 100%;">
            <div class="col-4 ps-0">
                <div class="mx-0 w-100 h-100 d-flex flex-column" style="background-color: #F1F1F1; border-radius: 20px;">
                    <div class="w-100 flex-wrap p-4 pb-2" style="height: auto;"> <!--header of list tasks-->
                        <div class="d-flex flex-wrap justify-content-between" style=" border-bottom: 1px solid black;">
                            <div class="d-flex align-items-center mb-2" style="width: 200px;">
                                <img src="{% static 'main/task-square.svg' %}" alt="">
                                <p class="gotham-bold ms-1" style="font-size: 18pt;">Беклог</p>
                            </div>
                            <div class="d-flex align-items-center mb-2">
                                <a href="{% url 'create_card' %}" role="button" onclick="valueUpload('1')" class="gotham-bold add-task" role="button"  style="font-size: 10pt;">+ Добавить задачу</a>
                            </div>    
                        </div>

                    </div>
                    <div class="w-100 px-4" id="block_overflow1" style="overflow-y: auto; height: 300px;">
                        {% for card in backlog %}
                        <div  class="w-100 d-flex flex-column p-4 my-4" style="border-radius: 15px; background-color: white; box-shadow: 0px 3px 12px #472a7b1c;"> <!--card template-->
                            <p class="gotham-light" style="font-size: 10pt; color: #1C0C38">Название:</p>
                            <p class="gotham-bold mb-3" style="font-size: 16pt; position: relative; top: -5px; color: #15003C;">{{ card.title }}</p>
                            <p class="gotham-light" style="font-size: 10pt; color: #1C0C38">Ответственный:</p>
                            <p class="gotham-book mb-3" style="font-size: 16pt; position: relative; top: -5px; color: #15003C">{{ card.assignee }}</p>
    
                            <div class="d-flex flex-wrap justify-content-between">
                                <button data-bs-toggle="modal" data-bs-target="#{{ card.id }}" class="void-purple-button ps-1 d-flex align-items-center mb-2"><img class="me-1" src="{% static 'main/setting-b.svg' %}" alt="" height="23">Действия</button>
                                <button  class="void-purple-button ps-1 d-flex align-items-center mb-2"><img class="me-1" src="{% static 'main/user-cirlce-add.svg' %}" alt="" height="23">Исполнитель</button>
                            </div>
    
                            <div class="modal fade" id="{{ card.id }}" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
                                <div class="modal-dialog modal-dialog-centered" >
                                  <div class="modal-content" style="border-radius: 25px;">
                                    <div class="modal-header p-4" style="border-radius: 15px 15px 0 0 ;">
                                      <h1 class="modal-title fs-5 gotham-bold" style="font-size: 20px;" id="staticBackdropLabel">Добавление задачи</h1>
                                      <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Закрыть"></button>
                                    </div>
                                    <div class="modal-body p-4">
                                        <form>
                                            <div class="mb-4">
                                                <p class="gotham-light mb-1">Название задачи:</p>
                                                <input class="in-card" placeholder="Разработать ..." name="" id="title" value="{{ card.title }}">
                                            </div>
                                            <div class="mb-4">
                                                <p class="gotham-light mb-1">Описание:</p>
                                                <textarea class="ta-card" name="" id="description" value="{{ card.description }}"></textarea>
                                            </div>
                                            <div class="mb-4">
                                                <p class="gotham-light mb-1">Исполнитель:</p>
                                                <input  class="in-card" placeholder="Олег Олегович" type="text" id="assignee" value="{{ card.assignee }}">
                                            </div>
                                            <div class="mb-4">
                                                <p class="gotham-light mb-1">Этап:</p>
                                                <select class="form-select" aria-label="Пример выбора по умолчанию" id="status" value="{{ card.status }}" >
                                                    <option id="val1" value="backlog">Беклог</option>
                                                    <option id="val2" value="in_progress">В процессе</option>
                                                    <option id="val3" value="done">Выполнено</option>
                                                  </select>
                                            </div>
                                            <div class="modal-footer" style="border-radius: 0 0 15px 15px;">
                                                <a type="button" class="text-decoration-none me-4" style="color: #373737;" data-bs-dismiss="modal">Закрыть</a>
                                                <button type="submit" onclick="insertValueCard('{{card.id}}')" class=" btn-purple"><img src="{% static 'main/arrow-up.svg' %}"  alt=""> Опубликовать</button>
                                                </a>
                                            </div>
                                        </form>
                                    </div>
                                  </div>
                                </div>
                              </div>
    
                            </div>
                        {% endfor %}
                    </div>
                </div>
            </div>
            <div class="col-4">
                <div class="mx-0 w-100 h-100 d-flex flex-column" style="background-color: #F1F1F1; border-radius: 20px;">
                    <div class="w-100 flex-wrap p-4 pb-2" style="height: auto;"> <!--header of list tasks-->
                        <div class="d-flex flex-wrap justify-content-between" style=" border-bottom: 1px solid black;">
                            <div class="d-flex align-items-center mb-2" style="width: 200px;">
                                <img src="{% static 'main/clock.svg' %}" alt="">
                                <p class="gotham-bold ms-1" style="font-size: 18pt;">В процессе</p>
                            </div>
                            <div class="d-flex align-items-center mb-2">
                                <a href="{% url 'create_card' %}" role="button" onclick="valueUpload('2')" class="gotham-bold add-task" role="button" style="font-size: 10pt;">+ Добавить задачу</a>
                            </div>    
                        </div>

                    </div>
                    <div class="w-100 px-4" id="block_overflow2" style="overflow-y: auto; height: 300px;">
                        {% for card in in_progress %}
                            
                        <div  class="w-100 d-flex flex-column p-4 my-4" style="border-radius: 15px; background-color: white; box-shadow: 0px 3px 12px #472a7b1c;"> <!--card template-->
                        <p class="gotham-light" style="font-size: 10pt; color: #1C0C38">Название:</p>
                        <p class="gotham-bold mb-3" style="font-size: 16pt; position: relative; top: -5px; color: #15003C;">{{ card.title }}</p>
                        <p class="gotham-light" style="font-size: 10pt; color: #1C0C38">Ответственный:</p>
                        <p class="gotham-book mb-3" style="font-size: 16pt; position: relative; top: -5px; color: #15003C">{{ card.assignee }}</p>

                        <div class="d-flex flex-wrap justify-content-between">
                            <button data-bs-toggle="modal" data-bs-target="#{{ card.id }}" class="void-purple-button ps-1 d-flex align-items-center mb-2"><img class="me-1" src="{% static 'main/setting-b.svg' %}" alt="" height="23">Действия</button>
                            <button  class="void-purple-button ps-1 d-flex align-items-center mb-2"><img class="me-1" src="{% static 'main/user-cirlce-add.svg' %}" alt="" height="23">Исполнитель</button>
                        </div>

                        <div class="modal fade" id="{{ card.id }}" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
                            <div class="modal-dialog modal-dialog-centered" >
                              <div class="modal-content" style="border-radius: 25px;">
                                <div class="modal-header p-4" style="border-radius: 15px 15px 0 0 ;">
                                  <h1 class="modal-title fs-5 gotham-bold" style="font-size: 20px;" id="staticBackdropLabel">Добавление задачи</h1>
                                  <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Закрыть"></button>
                                </div>
                                <div class="modal-body p-4">
                                    <form>
                                        <div class="mb-4">
                                            <p class="gotham-light mb-1">Название задачи:</p>
                                            <input class="in-card" placeholder="Разработать ..." name="" id="title" value="{{ card.title }}">
                                        </div>
                                        <div class="mb-4">
                                            <p class="gotham-light mb-1">Описание:</p>
                                            <textarea class="ta-card" name="" id="description" value="{{ card.description }}"></textarea>
                                        </div>
                                        <div class="mb-4">
                                            <p class="gotham-light mb-1">Исполнитель:</p>
                                            <input  class="in-card" placeholder="Олег Олегович" type="text" id="assignee" value="{{ card.assignee }}">
                                        </div>
                                        <div class="mb-4">
                                            <p class="gotham-light mb-1">Этап:</p>
                                            <select class="form-select" aria-label="Пример выбора по умолчанию" id="status" value="{{ card.status }}" >
                                                <option id="val1" value="backlog">Беклог</option>
                                                <option id="val2" value="in_progress">В процессе</option>
                                                <option id="val3" value="done">Выполнено</option>
                                              </select>
                                        </div>
                                        <div class="modal-footer" style="border-radius: 0 0 15px 15px;">
                                            <a type="button" class="text-decoration-none me-4" style="color: #373737;" data-bs-dismiss="modal">Закрыть</a>
                                            <button type="submit" onclick="insertValueCard('{{card.id}}')" class=" btn-purple"><img src="{% static 'main/arrow-up.svg' %}"  alt=""> Опубликовать</button>
                                            </a>
                                        </div>
                                    </form>
                                </div>
                              </div>
                            </div>
                          </div>

                        </div>
                    {% endfor %}
                    </div>
                </div>
            </div>
            <div class="col-4 pe-0">
                <div class="mx-0 w-100 h-100 d-flex flex-column" style="background-color: #F1F1F1; border-radius: 20px;">
                    <div class="w-100 flex-wrap p-4 pb-2" style="height: auto;"> <!--header of list tasks-->
                        <div class="d-flex flex-wrap justify-content-between" style=" border-bottom: 1px solid black;">
                            <div class="d-flex align-items-center mb-2" style="width: 200px;">
                                <img src="{% static 'main/tick-circle.svg' %}" alt="">
                                <p class="gotham-bold ms-1" style="font-size: 18pt;">Выполнено</p>
                            </div>
                            <div class="d-flex align-items-center mb-2">
                                <a href="{% url 'create_card' %}" role="button" onclick="valueUpload('3')" class="gotham-bold add-task" role="button"  style="font-size: 10pt;">+ Добавить задачу</a>
                            </div>    
                        </div>

                    </div>
                    <div class="w-100 px-4" id="block_overflow3" style="overflow-y: auto; height: 300px;">
                        {% for card in done %}
                            
                        <div  class="w-100 d-flex flex-column p-4 my-4" style="border-radius: 15px; background-color: white; box-shadow: 0px 3px 12px #472a7b1c;"> <!--card template-->
                            <p class="gotham-light" style="font-size: 10pt; color: #1C0C38">Название:</p>
                            <p class="gotham-bold mb-3" style="font-size: 16pt; position: relative; top: -5px; color: #15003C;">{{ card.title }}</p>
                            <p class="gotham-light" style="font-size: 10pt; color: #1C0C38">Ответственный:</p>
                            <p class="gotham-book mb-3" style="font-size: 16pt; position: relative; top: -5px; color: #15003C">{{ card.assignee }}</p>
    
                            <div class="d-flex flex-wrap justify-content-between">
                                <button data-bs-toggle="modal" data-bs-target="#{{ card.id }}" class="void-purple-button ps-1 d-flex align-items-center mb-2"><img class="me-1" src="{% static 'main/setting-b.svg' %}" alt="" height="23">Действия</button>
                                <button  class="void-purple-button ps-1 d-flex align-items-center mb-2"><img class="me-1" src="{% static 'main/user-cirlce-add.svg' %}" alt="" height="23">Исполнитель</button>
                            </div>
    
                            <div class="modal fade" id="{{ card.id }}" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
                                <div class="modal-dialog modal-dialog-centered" >
                                  <div class="modal-content" style="border-radius: 25px;">
                                    <div class="modal-header p-4" style="border-radius: 15px 15px 0 0 ;">
                                      <h1 class="modal-title fs-5 gotham-bold" style="font-size: 20px;" id="staticBackdropLabel">Добавление задачи</h1>
                                      <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Закрыть"></button>
                                    </div>
                                    <div class="modal-body p-4">
                                        <form>
                                            <div class="mb-4">
                                                <p class="gotham-light mb-1">Название задачи:</p>
                                                <input class="in-card" placeholder="Разработать ..." name="" id="title" value="{{ card.title }}">
                                            </div>
                                            <div class="mb-4">
                                                <p class="gotham-light mb-1">Описание:</p>
                                                <textarea class="ta-card" name="" id="description" value="{{ card.description }}"></textarea>
                                            </div>
                                            <div class="mb-4">
                                                <p class="gotham-light mb-1">Исполнитель:</p>
                                                <input  class="in-card" placeholder="Олег Олегович" type="text" id="assignee" value="{{ card.assignee }}">
                                            </div>
                                            <div class="mb-4">
                                                <p class="gotham-light mb-1">Этап:</p>
                                                <select class="form-select" aria-label="Пример выбора по умолчанию" id="status" value="{{ card.status }}" >
                                                    <option id="val1" value="backlog">Беклог</option>
                                                    <option id="val2" value="in_progress">В процессе</option>
                                                    <option id="val3" value="done">Выполнено</option>
                                                  </select>
                                            </div>
                                            <div class="modal-footer" style="border-radius: 0 0 15px 15px;">
                                                <a type="button" class="text-decoration-none me-4" style="color: #373737;" data-bs-dismiss="modal">Закрыть</a>
                                                <button type="submit" onclick="insertValueCard('{{card.id}}')" class=" btn-purple"><img src="{% static 'main/arrow-up.svg' %}"  alt=""> Опубликовать</button>
                                                </a>
                                            </div>
                                        </form>
                                    </div>
                                  </div>
                                </div>
                              </div>
    
                            </div>
                        {% endfor %}
                    </div>
                </div>
            </div>
            <div class="modal fade" id="staticBackdrop" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
                <div class="modal-dialog modal-dialog-centered" >
                  <div class="modal-content" style="border-radius: 25px;">
                    <div class="modal-header p-4" style="border-radius: 15px 15px 0 0 ;">
                      <h1 class="modal-title fs-5 gotham-bold" style="font-size: 20px;" id="staticBackdropLabel">Добавление задачи</h1>
                      <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Закрыть"></button>
                    </div>
                    <div class="modal-body p-4">
                        <form>
                            <div class="mb-4">
                                <p class="gotham-light mb-1">Название задачи:</p>
                                <input class="in-card" placeholder="Разработать ..." name="" id="title" value="{{ form.title.value|default_if_none:'' }}">
                            </div>
                            <div class="mb-4">
                                <p class="gotham-light mb-1">Описание:</p>
                                <textarea class="ta-card" name="" id="description" value="{{ form.description.value|default_if_none:'' }}"></textarea>
                            </div>
                            <div class="mb-4">
                                <p class="gotham-light mb-1">Исполнитель:</p>
                                <input  class="in-card" placeholder="Олег Олегович" type="text" id="assignee" value="{{ form.assignee.value|default_if_none:'' }}">
                            </div>
                            <div class="mb-4">
                                <p class="gotham-light mb-1">Этап:</p>
                                <select class="form-select" aria-label="Пример выбора по умолчанию" id="status" value="{{ form.status.value|default_if_none:'' }}">
                                    <option id="val1" value="backlog">Беклог</option>
                                    <option id="val2" value="in_progress">В процессе</option>
                                    <option id="val3" value="done">Выполнено</option>
                                  </select>
                            </div>
                            <div class="modal-footer" style="border-radius: 0 0 15px 15px;">
                                <a type="button" class="text-decoration-none me-4" style="color: #373737;" data-bs-dismiss="modal">Закрыть</a>
                                <a href="{% url 'create_card' %}" class="btn btn-purple">
                                <button type="submit" onclick="insertValue()" class=" btn-purple"><img src="{% static 'main/arrow-up.svg' %}"  alt=""> Опубликовать</button>
                                </a>
                            </div>
                        </form>
                    </div>
                  </div>
                </div>
              </div>
        </div>
    </div>
    <script>

        function valueUpload(val){
            document.getElementById("val"+val).selected = true;
        }

        var bl_cl = document.getElementById("block_column")
        var bl_ov1 = document.getElementById("block_overflow1")
        var bl_ov2 = document.getElementById("block_overflow2")
        var bl_ov3 = document.getElementById("block_overflow3")
        bl_ov1.style = "overflow-y: auto; height: " + (window.screen.height - 330).toString() + "px" 
        bl_ov2.style = "overflow-y: auto; height: " + (window.screen.height - 330).toString() + "px" 
        bl_ov3.style = "overflow-y: auto; height: " + (window.screen.height - 330).toString() + "px" 
        bl_cl.style.height = (window.screen.height - 230).toString() + "px" 
        console.log(window.screen.height)
    </script>

    <link href="https://cdn.jsdelivr.net/npm/suneditor@latest/dist/css/suneditor.min.css" rel="stylesheet">
    <!-- <link href="https://cdn.jsdelivr.net/npm/suneditor@latest/assets/css/suneditor.css" rel="stylesheet"> -->
    <!-- <link href="https://cdn.jsdelivr.net/npm/suneditor@latest/assets/css/suneditor-contents.css" rel="stylesheet"> -->
    <script src="https://cdn.jsdelivr.net/npm/suneditor@latest/dist/suneditor.min.js"></script>
    <!-- languages (Basic Language: English/en) -->
    <script src="https://cdn.jsdelivr.net/npm/suneditor@latest/src/lang/ru.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script>
   
    <script>
const editor = SUNEDITOR.create((document.getElementById('description') || 'description'),{
    // All of the plugins are loaded in the "window.SUNEDITOR" object in dist/suneditor.min.js file
    // Insert options
    // Language global object (default: en)
    lang: SUNEDITOR_LANG['ru'],
    buttonList: [
        ['fontSize', 'link', 'bold', 'underline', 'italic', 'fontColor', 'list']
    ]
});

function insertValue(){
    document.getElementById("description").value = editor.getContents()
    console.log(document.getElementById("description").value)
}
function insertValueCard(id){
    document.getElementById("description" + id.toString()).value = editor.getContents()
    console.log(document.getElementById("description").value)
}
    </script>
</body>
</html>